<header class="header">
  <nav class="navbar">
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="/assets/images/placeholder/logo.png" class="navbar-brand-logo" alt="Logo" width="52">
      <span class="navbar-brand-text">cantinière</span>
    </a>
    <!-- Left Nav Section -->
    <input id="menu-toggle" type="checkbox"/>
    <label class='menu-button-container' for="menu-toggle">
      <div class='menu-button'></div>
    </label>
    <div class="menu">
      <div class="menu-container">
        <ul>
          <li>
            <a class="nav-link" [routerLink]="['/menus']">Menus</a>
          </li>
          <li>
            <a class="nav-link" [routerLink]="['/carte']">A la carte</a>
          </li>
        </ul>
      </div>
      <!-- Right Nav Section -->
      <div class="menu-container">
        <ul>
          <!-- Authentication Links -->
          <ng-container *ngIf="isAuthenticated">
            <!-- Admin item -->
            <li *ngIf="isAdmin">
              <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
            </li>
            <!-- User items-->
            <li class="dropdown">
              <input id="user-toggle" type="checkbox"/>
              <label class='user-dropdown-container' for="user-toggle">
                <div class='user-button'>
                  Mon compte
                  <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"
                       stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M7 10l5 5 5-5z"></path>
                  </svg>
                </div>
              </label>
              <div class="user-menu">
                <a [routerLink]="['profil']">Mon profil</a>
                <a [routerLink]="['mes-commandes']">Mes commandes</a>
                <a [routerLink]="['/']" (click)="logout()">Logout</a>
              </div>
            </li>
            <!-- Logout item -->
          </ng-container>
          <!-- Login item -->
          <ng-container *ngIf="!isAuthenticated">
            <li>
              <a class="nav-link" [routerLink]="['/login']">Login</a>
            </li>
          </ng-container>
          <li>
            <a class="nav-link" [routerLink]="['/cart']">
              Panier
              <span class="badge badge-pill badge-danger">10</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
