<nav class="navbar">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="/assets/images/placeholder/logo-placeholder.png" class="navbar-brand-logo" alt="Logo"
           style="width: 150px;">
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#togglerButton"
      aria-controls="togglerButton" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="togglerButton">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item me-4">
          <a class="nav-link hvr-underline-from-left"
             aria-current="page" routerLink="/">Home</a>
        </li>
        <ng-container *ngFor="let item of headerItems">
          <li class="nav-item me-4" *ngIf="item?.route !== '/'">
            <ng-container *ngIf="item?.sub_routes && loggedInCustomer">
            </ng-container>
            <ng-container *ngIf="item?.sub_routes && !loggedInCustomer">
            </ng-container>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>

<div class="main">
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>
