.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    height: 350px;
    width: 400px;
    h2{
        text-align: center;
    }
    label{
        font-size: 12px;
    }
    input{
        margin-top: 25px;
    }
    margin : auto ;
    margin-top: 35px;
    element{
        margin-top: 25px;
    }
  }
  /* Effet Simple */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  /* Add some padding inside the card container */
  .container {
    padding: 3px 16px;
  }

.submit {
    padding: 7px 24px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #1680c1;
    color: white;
    border-radius: 5px;
}
.submit:active {
  transform: scale(0.85);
}

.credit {
  padding: 7px 24px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #3ec116;
  color: white;
  border-radius: 5px;
  margin-left: 10px;
}
.debit {
  padding: 7px 24px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #d53204;
  color: white;
  border-radius: 5px;
  margin-right: 5px;
}


.retour{
   padding: 7px 24px;
    background-color: #c11616;
    font-size: 12px;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 5px;
    margin-left: 280px;
    margin-top: 55px;

}

.retour:active {
  transform: scale(0.85);
}

.card-simple {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  /* 5px rounded corners */
  height: 150px;
  width: 400px;

  h2 {
      text-align: center;
  }

  label {
      font-size: 12px;
  }

  input {
      margin-top: 25px;
  }

  margin : auto;
  margin-top: 35px;


}

 /* Effet Simple */
 .card-simple:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.ng-valid.ng-dirty:not(form) {
  border: solid 2px lightgreen;
}

.ng-invalid.ng-dirty:not(form), .ng-invalid:not(form).form-submitted {
  border: solid 2px lightcoral;
}
