button{
    align-self: center;
}
.formRow{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
}
.column{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.tiny-column{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    justify-content: center;
}
.justify-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title{
    color: rgb(231, 90, 75);
}

.subtitle{
    color: salmon;
}

form{
    button{
        padding: 5pt 10pt;
        color: white;
        background-color: salmon;
        border: none;
        border-radius: 15px;

    }
    select{
        border-radius: 15px;
        padding: 2pt 10pt;
        border: 1px solid lightgrey;
    }
    input{
        border-radius: 15px;
        padding: 2pt 10pt;
        border: 1px solid lightgrey;
        color: grey;
    }

    label{
        color: grey;
    }
}

.myContainer{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 3rem;
}
.myOrder{
    width: calc(100% - 6rem);
    padding: 3rem;
    border-radius: 5px;
    background-color: rgb(249, 251, 252);
    border: 1px solid rgb(217, 220, 223);
    position: relative;
    margin: 5px 0;
}

.topInfos{
    position: absolute;
    color: grey;
    top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-weight: 200;
}
.topInfos b{
    font-weight: 300;
}

.bottomInfos{
    position: absolute;
    color: grey;
    bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-weight: 200;
}

.orderMain{
    color: rgb(126, 126, 126);
}

.platMenu{
    margin-left: 2rem;
}
.cancelButton{
    position: absolute;
    top: 1rem;
    right: 2rem;
}

.cancelButton:hover {
    cursor: pointer;
}

@media screen and (max-width: 540px) {
    .myOrder{
        padding: 3rem 1.5rem;
        padding-bottom: 5rem;
        width: calc(100% - 3rem);
    }

    .formRow{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .platMenu{
        margin-left: 0rem;
        max-width: 70%;
    }
    .bottomInfos{
        flex-direction: column;
        gap: 0.5rem;
    }
}
