<div class="grid">
  <div class="card" *ngFor="let dayMeal of weekMeals">
    <h2>{{ dayMeal.day}}</h2>
    <div class="meals" *ngFor="let meal of dayMeal.meals">
      <div style="display: flex; justify-content: space-between; flex-direction: column">
        <div style="display: flex; flex-direction: column; ">
          <img src="{{meal.imagePath}}" alt="meal image">
          <div>
            <p>{{ meal.label }}</p>
            <p>{{ meal.priceDF }}€</p>
          </div>
          <button class="add-button" (click)="onAddToCart(meal, dayMeal.day)">Add to cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
