<h1>Inscription</h1>

<div class="register-div">
    <form class="register">
        
        <label for="address">address:</label><br>
        <input [(ngModel)]="inscription.address" type="text" id="address" name="address"><br>

        <label for="wallet">wallet:</label><br>
        <input [(ngModel)]="inscription.wallet" type="text" id="wallet" name="wallet"><br>
        <label for="postalCode">Code postal:</label><br>
        <input [(ngModel)]="inscription.postalCode" type="text" id="postalCode" name="postalCode"><br>

        <label for="email">Email:</label><br>
        <input [(ngModel)]="inscription.email" type="text" id="email" name="email"><br>

        <label for="name">Nom:</label><br>
        <input [(ngModel)]="inscription.name" type="text" id="name" name="name"><br>

        <label for="firstname">Prenom:</label><br>
        <input [(ngModel)]="inscription.firstname" type="text" id="firstname" name="firstname"><br>
    
        <label for="phone">Téléphone :</label><br>
        <input [(ngModel)]="inscription.phone" type="text" id="phone" name="phone"><br>
        
        <label for="town">town:</label><br>
        <input [(ngModel)]="inscription.town" type="text" id="town" name="town"><br>

        <label for="password">Mot de passe:</label><br>
        <input [(ngModel)]="inscription.password" type="password" id="password" name="password"><br>

        <button (click)="inscription_methode()" type="submit">S'inscire</button><br>
    </form>
</div>
