<div class="horizontal-card">
    <h2>Mon mot de passe</h2>
    <input type="password" [(ngModel)]="password" name="password" id="password" placeholder="nouveau mot de passe" pattern="">
    <input type="password" [(ngModel)]="passwordConfirm" name="passwordConfirm" id="passwordConfirm" placeholder="confirmer le mot de passe">
    <br>
    <input type="password" [(ngModel)]="lastPassword" name="lastPassword" id="lastPassword" placeholder="ancien mot de passe">
    <button  class="Modifier"(click)="updatePassword()">Modifier</button>
</div>
