<form class="card" [formGroup]="userProfileForm" (ngSubmit)="updateUser()">
  <h2>Modifier mon profil</h2>
  <div class="container">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email">
       
        <br>
        <label for="name">Nom</label>
        <input type="text" class="form-control" id="name" placeholder="Nom" formControlName="nom">

        <br>
        <label for="firstname">Prénom</label>
        <input type="text" class="form-control" id="firstname" placeholder="Prénom" formControlName="prenom">

        <br>
        <label for="phone">Téléphone</label>
        <input type="text" class="form-control" id="phone" placeholder="Téléphone" formControlName="phone">
    <button class="submit" type="submit">Enregistrer</button><br>
  </div>
</form>


