<form class="card" [formGroup]="userProfileForm" (ngSubmit)="updateUser()">
  <h2>Modifier mon profil</h2>
  <div class="container">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email">

        <br>
        <label for="name">Nom</label>
        <input type="text" class="form-control" id="name" placeholder="Nom" formControlName="nom">

        <br>
        <label for="firstname">Prénom</label>
        <input type="text" class="form-control" id="firstname" placeholder="Prénom" formControlName="prenom">

<!--        <br>-->
<!--        <label for="phone">Téléphone</label>-->
<!--        <input type="text" class="form-control" id="phone" placeholder="Téléphone" formControlName="phone">-->


    <!-- <div class="container">
      <h3>Mon adresse</h3>
      <label for="address">Adresse</label>
      <input type="text" class="form-control" id="address" placeholder="Adresse" formControlName="address">
      <br>
      <label for="city">Ville</label>
      <input type="text" class="form-control" id="city" placeholder="Ville" formControlName="city">
      <br>
      <label for="postalCode">Code postal</label>
      <input type="text" class="form-control" id="postalCode" placeholder="Code postal" formControlName="postalCode">
    </div> -->
    <button class="submit" type="submit" [disabled]="!userProfileForm.valid">Enregistrer</button><br>
  </div>
</form>


