.justify-center {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.auth {
  background-color: #fff;
  border-radius: 2rem;
  border: 2px solid rgba(48, 29, 9, 0.05);
  box-shadow: 0 0 10px 0 rgba(48, 29, 9, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50rem;
  padding: 1rem;
}

.header-subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  color: #222;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.auth-container-radio-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.auth-container-radio {
  display: flex;
  gap: 1rem;
  background-color: #fafafa;
  border-radius: 2rem;
  padding: .5rem 1rem;
  margin: 1rem 0;

  .radio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    // custom radio button
    color: #301d09;

  }

  .radio-label {
    font-size: 1.5rem;
    font-weight: 500;
    color: #545454;
  }
}

.auth-container-body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
  height: 100%;
}

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-container-header {
  width: 100%;
  padding: 1rem 0;
}

.auth-container-header-title {
  color: #301d09;
  letter-spacing: -1px;
  font-weight: 600;
  text-align: left;
  padding: 1rem;
}

.auth-container-body-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-container-input {
  width: 80%;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 0 11px;
  margin: 8px 0;
  background-color: #fafafa;
}

.forgot-password {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.5px;
  text-decoration: none;
  text-align: center;
  margin: 0 1rem;
  padding: 2rem 0;
}

.auth-container-input::placeholder {
  color: lightgrey;
  font-weight: 500;
}

.auth-container-input:focus::placeholder {
  transition: all 0.3s ease-in-out;
  opacity: 0;
  transform: translateX(20px);
}

.btn-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  padding-bottom: 1rem;
}

.submit-btn {
  background-color: #fff;
  color: #301d09;
  border: none;
  border-radius: 6px;
  padding: 1.2rem 2rem;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: darken(#fff, 5%);
  }
}

.is-invalid {
  border: 1px dashed #b22626;
}

.second-btn {
  @extend .submit-btn;
  background-color: rgba(235, 203, 169, 0.49);
  border: 2px solid #ededed;
  &:hover {
    background-color: lighten(rgba(235, 203, 169, 0.49), 10%);
  }
}
