footer {
  min-height: 56px;
  background-color: #faf9f9;

  .footer-content {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 1rem;

    .footer-description {
      align-items: center;
      display: flex;
      justify-content: center;
      text-align: center;
    }

    .footer-description a{
      color: #8d8d8d;
      font-size: 1.4rem;
      margin-right: 1rem;
    }

    .footer-description a:hover{
      color: #404040;
    }

    .pin  {
      color: rgba(255, 0, 0, 0.5);
      font-weight: 600;
      font-size: 1.4rem;
      background-color: rgba(255, 0, 0, .1);
      padding: 0 0.5rem;
      border-radius: 0.5rem;
    }
  }
}
