<div class="dashboard-content">
  <div class="title-container">
    <h1 class="title">Dashboard</h1>
    <h2 class="subtitle">Bienvenue sur votre tableau de bord</h2>
  </div>
  <div class="dashboard-items-wrapper">
    <app-dashboard-card
      [label]="'Menus'"
      [imageUrl]="'./assets/images/dashboard/menus.jpg'"
      [routerLink]="['/dashboard/menus']"></app-dashboard-card>
    <app-dashboard-card
      [label]="'Ingredients'"
      [imageUrl]="'./assets/images/dashboard/ingredients.jpg'"
      [routerLink]="['/dashboard/ingredients']"></app-dashboard-card>
    <app-dashboard-card
      [label]="'Commandes'"
      [imageUrl]="'./assets/images/dashboard/orders.jpg'"
      [routerLink]="['/dashboard/orders']"></app-dashboard-card>
    <app-dashboard-card
      [label]="'Utilisateurs'"
      [imageUrl]="'./assets/images/dashboard/users.jpg'"
      [routerLink]="['/dashboard/users']"></app-dashboard-card>
    <app-dashboard-card
      [label]="'Menus hebdomadaires'"
      [imageUrl]="'./assets/images/dashboard/weekly-menus.jpg'"
      [routerLink]="['/dashboard/week-menus']"></app-dashboard-card>
    <app-dashboard-card
      [label]="'Configuration'"
      [imageUrl]="'./assets/images/dashboard/configuration.jpg'"
      [routerLink]="['/']"></app-dashboard-card>
  </div>
</div>

