<div class="horizontal-card">
  <h2>Dashboard</h2>
  <form (ngSubmit)="getUserById(id)">
    <input type="text" name="id" [(ngModel)]="id" placeholder="id">
    <button type="submit">Chercher</button>
  </form>
  <button (click)="getUsers()">Afficher tous les utilisateurs</button>
</div>


<div class="array">
<table class="array_crud">
  <tr>
    <th>id</th>
    <th>nom</th>
    <th>prenom</th>
    <th>Wallet</th>
    <th>Action</th>
  </tr>

<!-- TODO : AFFICHER QUE LES USER QUI ONT UN STATUT N'ETANT PAS = 2 -->
  <tr *ngFor="let user of users">
    <td>{{user.id}}</td>
    <td>{{user.name}}</td>
    <td>{{user.firstname}}</td>
    <td>{{user.wallet}}</td>
    <td>
      <button [routerLink]="[user.id]">modifier</button>
      <button (click)="deleteUser(user.id)">supprimer</button>
    </td>
  </tr>
</table>

</div>

