.horizontal-card {
  transition: 0.3s;
  max-width: 80rem;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 2rem;
  border: 2px solid rgba(48, 29, 9, 0.05);
  box-shadow: 0 0 10px 0 rgba(48, 29, 9, 0.05);
  display: flex;
  flex-direction: column;
  h2 {
    text-align: center;
  }

  label {
    font-size: 12px;
  }

  input {
    margin-top: 25px;
  }

  margin: auto;
  margin-top: 35px;
}

.array {
  margin-top: 25px;

}

.modifier {
  background-color: rgba(143, 143, 143, 0.12);
  color: #575757;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: rgba(143, 143, 143, 0.12);
    color: #575757;
  }
}

.supprimer {
  background-color: rgba(246, 97, 97, 0.12);
  color: #f66161;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: rgba(246, 97, 97, 0.08);
    color: rgba(246, 97, 97, 0.68);
  }
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  padding: 8px;
  margin-right: 10px;
}

.chercher {
  background-color: rgba(97, 167, 246, 0.22);
  color: #61a7f6;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding:8px;

  &:hover {
    background-color: rgba(97, 167, 246, 0.14);
    color: rgb(97, 167, 246);
  }
}

.btn-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.refresh {
  color: white;
  background-color: rgba(26, 200, 188, 0.813);
  padding: 5px 8px;
  margin-left: 10px;
  border-radius: 5px;
}

table {
  border-collapse: collapse;
  width: 90%;
  margin-top: 25px;
  // center
  margin-left: auto;
  margin-right: auto;

  th, td {
    text-align: left;
    padding: 4px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f27f;
  }
}


