
<h1 mat-dialog-title>{{ data.day }}</h1>
<mat-dialog-content>
    <div class="plat" *ngFor="let meal of data.meals">
        <input class="radio" type="radio" value="Plat 1" name="plat">
        <label class="radio">{{ meal.label }}</label>
        <div class="Formule">
            <div class="platSeul">
                <input type="radio" value="Plat seul" name="formule"> Plat seul
            </div>
            <div class="formule">
                <input type="radio" value="Formule" name="formule"> Formule
            </div>
        </div>
        <div class="quantite">
            <input type="number" id="tentacles" name="tentacles" min="0" max="100">
        </div>
        <div class="panier">
            <button>Ajouter au panier</button>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="bottomdialog">
    <button>Fermer</button>
    <button>Confimrer</button>
</mat-dialog-actions>


