<div class="justify-center">
  <div class="cart">
    <div class="cart-items-container">
      <div class="day-container" *ngFor="let day of days()">
        <h2>{{day}}</h2>
        <div class="cart-item" *ngFor="let item of cart">
          <div class="cart-item-left">
            <div class="cart-item-title">{{item.menu.label}}</div>
            <div class="cart-item-quantity">{{item.quantity}}</div>
          </div>
          <div class="cart-item-right">
            <div class="cart-item-price">{{item.menu.priceDF}}€</div>
            <button (click)="removeItemFromCart(item)" class="button">supprimer</button>
          </div>
        </div>
      </div>
    </div>
    <div class="cart-controls">
      <h2>Wallet : {{wallet()}} €</h2>
      <div class="cart-total">
        <div class="cart-total-title"><span>
          Total {{getTotalPrice()}}€
        </span></div>
        <button class="cart-button" (click)="validOrder()">Valider</button>
      </div>
    </div>
  </div>
</div>
