.justify-center {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.cart {
  background-color: #fff;
  border-radius: 2rem;
  border: 2px solid rgba(48, 29, 9, 0.05);
  box-shadow: 0 0 10px 0 rgba(48, 29, 9, 0.05);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100rem;
  padding: 1rem;
  min-width: 40rem;
  min-height: 40rem;
}

.cart-items-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1rem;
  gap: 1rem;
}

.cart-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 1rem;
  gap: 1rem;
}

.cart-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
  border: 2px solid rgba(48, 29, 9, 0.05);
  box-shadow: 0 0 10px 0 rgba(48, 29, 9, 0.05);
  background-color: #eacaa8;
  color: #301d09;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #301d09;
    color: #fff;
  }
}
