form{
    button{
        padding: 5pt 10pt;
        color: white;
        background-color: rgb(215, 175, 105);
        border: none;
        border-radius: 15px;
        
    }
    select{
        border-radius: 15px;
        padding: 2pt 10pt;
        border: 1px solid lightgrey;
    }
    input{
        border-radius: 15px;
        padding: 2pt 10pt;
        border: 1px solid lightgrey;
        color: grey;
    }
    input::placeholder {
        opacity: 0.5;
    }

    label{
        color: grey;
    }
    .formRow{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 1rem;
        margin: 2rem 0;
    }
    .column{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .tiny-column{
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        justify-content: center;
    }
}
.myContainer{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 10rem;

    h2{
        align-self: flex-start;
        margin: 2rem 0;
    }
    .menu{
        width: 300px;
        padding: 3rem;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.384);
        border: 1px solid rgba(178, 178, 178, 0.362);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
        position: relative;
        margin: 5px 0;
        min-height: 250px;
        backdrop-filter: blur(10px);

        .totalPrice{
            color: rgb(95, 95, 95);
        }

        .remove{
            position: absolute;
            right: 10px;
            top: 10px;
            color: rgb(215, 175, 105);
        }
        .remove:hover {
            cursor: pointer;
        }
    }
    ul, p{
        margin-top: 2rem;
        color: grey;
        list-style-position: inside;
    }
    .list{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        
    }
}
@media screen and (max-width: 540px) {
    .formRow{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}