$navbar-blur: blur(15px);
$badge-color: rgba(246, 97, 97, 1);
$badge-shadow-color: rgba(246, 97, 97, .2);
$badge-shadow-color-faded: rgba(246, 97, 97, 0);
$navbar-shadow-color: rgba(0, 0, 0, .07);
$navbar-brand-color: #301d09;
$navbar-menu-text-color: #301d09;
$navbar-menu-text-hover: rgba(48, 29, 9, .75);
$menu-button-color: #301d09;
$border-color: #DDDDDD7F;

$text: #301d09;
$text-gray: #383838;