$color-primary-bg: linear-gradient(180deg, #06113c 0%, #0a1c5e 100%);
$color-primary: #ff8c32;
$color-primary-light: #f8a56d;
$color-grey-dark: #999;
$color-grey: #ddd;
$color-grey-light: #eee;
$color-white: #fff;
