<main class="justify-center">
  <h1 class="title">Commandes</h1>

  <!-- ------------- Premier formulaire --------------- -->
  <div class="forms-container">
  <form [formGroup]="formSearchByDate" (ngSubmit)="searchByDate()">
    <h3 class="subtitle">
      Recherche par date:
    </h3>
      <div class="formRow">
          <div class="tiny-column">
              <label for="status">Status de la commande:</label>
              <select id="status" formControlName="status" required="true">
                  <option value="0">
                      CREATED
                  </option>
                  <option value="1">
                      DELIVERED
                  </option>
                  <option value="2">
                      CANCELED
                  </option>
              </select>
          </div>

          <div class="column">
              <div class="tiny-column">
                  <label for="beginDate">
                      Date de début:
                  </label>
                  <input id="beginDate" type="date" formControlName="beginDate">
              </div>
              <div class="tiny-column">
                  <label for="endDate">Date de fin: </label>
                  <input id="endDate" type="date" formControlName="endDate">
              </div>
          </div>
          <button type="submit">Submit</button>
      </div>
  </form>

  <!-- ------------- Deuxième formulaire --------------- -->

  <!-- <form [formGroup]="formAdd" (ngSubmit)="addOrder()"> -->
  <form [formGroup]="formAdd" >
    <h3 class="subtitle">
      Création de commande:
    </h3>
      <div class="formRow">

              <div class="tiny-column">
                  <label for="userId">Id de l'utilisateur: </label>
                  <input id="userId" type="number" formControlName="userId">
              </div>


          <div class="tiny-column">
              <label for="beginDate">
                  Id de la contrainte:
              </label>
              <input type="number" formControlName="constraintId">
          </div>
      </div>
      <div class="formRow">
          <button (click)="addQuantity()">ADD</button>
      <button type="submit" (click)="addOrder()">Submit</button>
      <div class="tiny-column">
          <label for="type">Type: </label>
          <select name="" id="type" [(ngModel)]="selected" (ngModelChange)="myReset()" [ngModelOptions]="{standalone: true}">
              <option value="meals">Meals</option>
              <option value="menus">Menus</option>
          </select>
      </div>
      </div>

      <div formArrayName="quantity">
          <div class="column" *ngFor="let quantity of quantity.controls; let i=index" [formGroupName]="i">
              <div class="formRow">
                  <div *ngIf="selected == 'meals'" class="tiny-column">
                      <label for="meal">Meals </label>
                      <select name="" id="meal" formControlName="mealId" required="true">
                          <option *ngFor="let meal of meals" value="{{meal.id}}">{{meal.label}}</option>
                      </select>
                  </div>


                  <div *ngIf="selected == 'menus'" class="tiny-column">
                      
                      <label for="menu">Menus:</label>  
                      <select name="" id="menu" formControlName="menuId" required="true">
                          <option *ngFor="let menu of menus" value="{{menu.id}}">{{menu.label}}</option>
                      </select>
                  </div>
                      <div class="tiny-column">
                          
                          <label for="menu">Quantity:</label>  
                          <input type="number" formControlName="quantity" required="true">
                      </div>
              </div>
          </div>




      </div>

  </form>
  </div>

  <!-- ------------- Liste des commandes --------------- -->
  <div class="myContainer">
      <!-- <input #id type="text" value="{{order.id}}" hidden> -->
      <section *ngFor="let order of orders">
          <div *ngIf="order.id">
            <!-- (click)="findOrder(order.id)" -->
              <div class="myOrder">

                  <section class="topInfos">
                      <span>
                          ID: <b>{{ order.id }}</b>
                      </span>
                  </section>


                  <section *ngIf="order.quantity; else pasDeCommande" class="orderMain">
                      <a class="cancelButton" (click)="cancelOrder(order.id)">x</a>


                      <section *ngFor="let plat of order.quantity" class="row">

                          <section *ngIf="plat.meal">

                              <section class="space-between">
                                  <p class="platMenu">
                                      - {{plat.quantity}}x {{plat.meal.label}}
                                  </p>
                                  <p *ngIf="plat.meal.priceDF">
                                      {{plat.meal.priceDF}} €
                                  </p>
                              </section>
                          </section>



                          <section *ngIf="plat.menu">

                              <h3 >
                                  {{plat.quantity}}x {{plat.menu.label}}
                              </h3>
                              <section class="space-between" *ngFor="let menuPlat of plat.menu.meals">
                                  <p class="platMenu" >
                                      - {{menuPlat.label}}
                                  </p>
                                  <p *ngIf="menuPlat.priceDF">
                                      {{menuPlat.priceDF}} €
                                  </p>
                              </section>

                          </section>





                      </section>
                  </section>
                  <ng-template #pasDeCommande>
                      <section class="orderMain">
                          <a class="cancelButton" (click)="cancelOrder(order.id)">x</a>
                          <p>Aucun plat commandé</p>
                      </section>
                  </ng-template>


                  <section class="bottomInfos">
                      <span>
                          Created by: {{ order.user.firstname }} {{ order.user.name }}
                      </span>
                      <span>
                          At: {{ order.creationTime }} // {{ order.creationDate }}
                      </span>
                  </section>
                <button class="deliver-btn" (click)="deliverOrder(order.id)">Livrer</button>
              </div>
            </div>
      </section>

  </div>
</main>

