button {
  align-self: center;
}

.forms-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  margin-top: 2rem;
  gap: 2rem;

  form {
    display: flex;
    flex-direction: column;
    padding:3rem;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
  }
}

.formRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tiny-column {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  justify-content: center;
}

.justify-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  color: rgb(0, 0, 0);
}

.subtitle {
  color: rgb(0, 0, 0, .8);
}

form {
  button {
    padding: 5pt 10pt;
    color: white;
    background-color: rgb(0, 0, 0, .7);
    border: none;
    border-radius: 15px;

  }

  select {
    border-radius: 1rem;
    min-height: 3rem;
    padding: 2pt 10pt;
    border: 1px solid lightgrey;
  }

  input {
    border-radius: 1rem;
    min-height: 3rem;
    padding: 2pt 10pt;
    border: 1px solid lightgrey;
  }

  label {
    color: grey;
  }
}

.myContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 3rem;
}

.myOrder {
  padding: 3rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.55);
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  position: relative;
  margin: 1rem 0;
}

.topInfos {
  position: absolute;
  color: grey;
  top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-weight: 200;
}

.topInfos b {
  font-weight: 300;
}

.bottomInfos {
  position: absolute;
  color: grey;
  bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-weight: 200;
}

.orderMain {
  color: rgb(126, 126, 126);
  padding: 3rem 0;
}

.platMenu {
  margin-left: 2rem;
}

.cancelButton {
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.cancelButton:hover {
  cursor: pointer;
}

@media screen and (max-width: 540px) {
  .myOrder {
    padding: 3rem 1.5rem;
    padding-bottom: 5rem;
    width: calc(100% - 3rem);
  }

  .formRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .platMenu {
    margin-left: 0rem;
    max-width: 70%;
  }
  .bottomInfos {
    flex-direction: column;
    gap: 0.5rem;
  }
}

.deliver-btn {
  background-color: rgb(0, 0, 0, .6);
  color: white;
  padding: 5pt 10pt;
  border-radius: 1rem;
  border: none;
  position: absolute;
  bottom: 0;
  right: 0;
}
