//css simple pour le tableau qui soit centrer et responsive avoir une bordure et width 75%
.array_crud {
  margin: 0 auto;
  width: 75%;
  border: 1px solid #ccc;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.9em;
  min-width: 400px;
  table-layout: fixed;
  td {
    padding: 12px 15px;
    border: 1px solid #ccc;
  }
}